*{
    margin:0;
    padding: 0;
}


body{
    background-color: #0A0E18;
}

/* containing title name image button */
.title #shadow{
    position: absolute;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background-color: #FF6D00;
    margin-left: 98em;
    filter: blur(11em);
    
    

}
.title #shadow1{
    position: absolute;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background-color: #FF6D00;
    margin-top: 28em;
    filter: blur(13em);
    
    

}
.header img{
    position: absolute;

    margin-left: 2em;
    padding: 1em;
  
}
#profileimg{

    position:absolute;
    margin-left: 60em;

   
   
   
      
   }
.title #roletext h1{
   
    margin-left: 33px;
    position: absolute;
    z-index: -1;
    color: white;
    font-size: 10em;
    opacity: 18%;
    font-family: "Goldman", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
   
}

.title #roletext #rt1{
    margin-top: 7vh;
    color: #FF6D00;
       
}
.title #roletext #rt2{
    margin-top: 7vh;
    margin-left: 76vh;
    
   
}
.title #roletext #rt3{
  
   
    margin-top: 22vh;



   
}
.title #roletext #rt3 .colorWord{
  
    color: #FF6D00;
   
}

.quickAction{
 
    margin-top: 33em;
    margin-left: 2em;
    border-radius: 6em;
    position: absolute;
    height: 8em;
    width: 35em;
    border: white solid 1px;
    background-color: rgba(255,255,255,.1);
    

    
    
    
}

.quickActionInner{

 
    margin-top: 2.5vh;
    margin-left: 2vh;
    border-radius: 6em;
    height: 5em;
    width: 18em;
    background-color: #FF6D00;
}
.quickActionInner   a h3{
    position: absolute;
    color: white;
    margin-left: 34px;
    padding-top: 13px;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
   font-size: 40px;
   
    
   
    
}
.quickActionInner   #qa2 img{
    position: absolute;
   margin-top: 2.5vh;
   margin-left: 24vh;

    
   
    
}
.quickActionInner   #qa3 h3{
    position: absolute;
    color: white;
    margin-left: 35vh;
    padding-top: 15px;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
   font-size: 40px;
   
    
   
    
}

