*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    overflow-x: hidden;
    background-color: #0A0E18;
}

/* containing title name image button */
.title #shadow{
    z-index: -2;
    position: absolute;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background-color: #FF6D00;
    margin-left: 79em;
    filter: blur(8em);
    
    

}
.title #shadow1{
    position: absolute;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background-color: #FF6D00;
    margin-top: 28em;
    filter: blur(8em);
    
    

}
.header img{
    position: absolute;

    margin-left: 1em;
    padding: 1em;
  
}
#profileimg{

    position:absolute;
    margin-left: 46em;

   
   
   
      
   }
.title #roletext h1{
   
    margin-left: 33px;
    position: absolute;
    z-index: -1;
    color: white;
    font-size: 8em;
    opacity: 18%;
    font-family: "Goldman", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
   
}

.title #roletext #rt1{
    margin-top: 7vh;
    color: #FF6D00;
       
}
.title #roletext #rt2{
    margin-top: 7vh;
    margin-left: 76vh;
    
   
}
.title #roletext #rt3{
  
   
    margin-top: 22vh;



   
}
.title #roletext #rt3 .colorWord{
  
    color: #FF6D00;
   
}

.quickAction{
 
    margin-top: 33em;
    margin-left: 2em;
    border-radius: 6em;
    position: absolute;
    height: 8em;
    width: 35em;
    border: white solid 1px;
    background-color: rgba(255,255,255,.1);
    
    

    
    
    
}



.quickActionInner{

 
    margin-top: 3vh;
    margin-left: 2vh;
    border-radius: 6em;
    height: 5em;
    width: 18em;
    background-color: #FF6D00;
}

.quickActionInner   a h3{
    position: absolute;
    color: white;
    margin-left: 50px;
    padding-top: 13px;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
   font-size: 40px;
   
    
   
    
}
.quickActionInner   #qa2 img{
    position: absolute;
   margin-top: 2.7vh;
   margin-left: 29.8vh;

    
   
    
}
.quickActionInner   #qa3 h3{
    position: absolute;
    color: white;
    margin-left: 43vh;
    padding-top: 15px;
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
   font-size: 40px;
   
    
   
    
}

.cursor{
    position: fixed;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    transition: 0.1s;
    background-color: #FF6D00;
    transform: translate(-50%,-50%);
    pointer-events: none;
}

    @media screen and (max-width: 500px) {
        
    }



#shadow2{
    position: absolute;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background-color: #FF6D00;
    margin-top: 50em;
    filter: blur(11em);
    
    

}

.aboutMeContainer{
    margin-top: 63em;
    margin-left: 2em;
    border-radius: 1em;
    position: absolute;
    height: 40em;
    width: 85em;
    border: white solid 1px;
    background-color: rgba(255,255,255,.1);
    /* border-image: linear-gradient(to right, rgba(255, 109, 0, 1),rgba(153, 153, 153, 1)); */
    
}

.verticalContainer{
    position: absolute;
    height: 30em;
    width: 2px;
    background-color: #FF6D00;
    margin-top: 5em;
    margin-left: 5em;

}
.aboutMeContainer ol{
 
    margin-top: 3.5em;
    margin-left: 4em;
    list-style-type: none;
    font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
   font-size: 25px;
   color: white;
   opacity: .9;

    
}
.aboutMeContainer li{
 
    margin-bottom: 1.5em;

    
}
.aboutMe{
    position: absolute;
    margin-top: 0.5em;
    margin-left: 3em;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 35px;
    color: white;
    opacity: .9;

}
.aboutMe span{
    color:#FF6D00;
    opacity: .9;

}

.footer{
    height: 30em;
    width: 90em;
    position: absolute;
    background-color: rgba(16, 24, 38, 1);
    margin-top: 220em;

}

.footerlist {

   display: flex;
   flex-direction: row;
   float: left;
   position: absolute;
    margin-top: 234em;
   
    list-style-type: none;
}
.footerlist li{
   margin-left: 70px;
}

.footerlist a{

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    color: white;
    opacity: .9;
    text-decoration: none;
}
.footerlist a:hover{

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    color:#FF6D00;
    opacity: .9;
    text-decoration: none;
    

  
}
.projectcontainer{
    margin-top: 110em;
    margin-left: 2em;
    border-radius: 1em;
    position: absolute;
    width: 85em;
    height: 1660px;
    flex-shrink: 0;
    border: white solid 1px;
    background-color: rgba(255,255,255,.1);
    /* border-image: linear-gradient(to right, rgba(255, 109, 0, 1),rgba(153, 153, 153, 1)); */
    

    
}
.projectcontainer #shadow3{
    position: absolute;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background-color: #FF6D00;
    margin-top:9em;
    margin-left: 90%;
    filter: blur(10em);
    z-index: -1;
    
    

}
.projectcontainer #star1{
   
    margin-top: 1em;
    margin-left: 1.5em;
    position: absolute;
   
    

}
.projectcontainer #star2{
   
    margin-top: 1em;
    margin-left: 80em;
    position: absolute;
   
    

}
.projectcontainer #wallpaperContainer1{
    width: 300px;
    height: 379px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-top: 15em;
    margin-left: 3em;
    position: absolute;

}
.projectcontainer #wallpaperContainer1 #mw1{
    width: 300px;
    height: 379px;
    flex-shrink: 0;
    border-radius: 8px;
    position: absolute;

}
.projectcontainer #wallpaperContainer2{
    width: 300px;
    height: 379px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-top: 12em;
    margin-left: 16em;
    position: absolute;
    box-shadow: -10px 14px 25.1px 0px rgba(0, 0, 0, 0.25);

}
.projectcontainer #wallpaperContainer2 #mw2{
    width: 300px;
    height: 379px;
    flex-shrink: 0;
    border-radius: 8px;
    position: absolute;

}
.projectcontainer #wallText{
   
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    text-transform: capitalize;
    position: absolute;
    margin-top: 4.5em;
    margin-left: 10em;
   
}
.projectcontainer span{
   
    color: #FF6D00;
    font-family: "Plus Jakarta Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    position: absolute;
    margin-top: 9.8em;
    margin-left: 16.8em;
   
}

.projectcontainer #wallpaperContainer3 #dw1{
    /* blue wallpaper */
    width: 470px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 8px;
    position: absolute;
    margin-top: 72em;
    margin-left: 54em;
    z-index: +1;
    box-shadow: -11px -1px 27.7px 0px rgba(0, 0, 0, 0.25);


}
.projectcontainer #wallpaperContainer4 #dw2{
    /* orange wallpaper */
    width: 470px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 8px;
    position: absolute;
    margin-top: 50em;
    margin-left: 54em;

}
.projectcontainer #wallpaperContainer5 #dw3{
    /* green wallpaper */
    width: 470px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 8px;
    position: absolute;
    margin-top: 58em;
    margin-left: 43em;
    box-shadow: 9px 22px 16px 0px rgba(0, 0, 0, 0.25);




}
.projectcontainer #wallText1{
   
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    text-transform: capitalize;
    position: absolute;
    margin-top: 17em;
    margin-left: 1em;
   
}
.projectcontainer #walldownload span{
      
    color: #FF6D00;
    font-family: "Plus Jakarta Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    position: absolute;
    margin-top: 32.8em;
    margin-left: 1.7em;

 }




