@tailwind base;
@tailwind components;
@tailwind utilities;

.fontGimletNarrow {
    font-family: "gimlet-display-narrow";
}

.fontGimletCompressed {
    font-family: "gimlet-display-compressed";
}

.fontGimletCondensed {
    font-family: "gimlet-display-condensed";
}

.fontOwners {
    font-family: "owners-text", sans-serif;
    /* font-weight: 800; */
    /* font-style: italic; */
}

.fontLoosWide {
    font-family: "loos-wide", sans-serif;
    /* font-weight: 800;
    font-style: normal; */
}